.container {
    background-color: #86C232;
    padding: 20px;
    padding-bottom: 100px;
}

.heading{
    background-color: #86C232;
    color: #222629;
    font-size: 28px;
    font-weight: 600;
    text-transform: uppercase;
    margin: 40px;
    letter-spacing: 2px;
}

.cardHolder{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 20px;
    background-color: #86C232;
    width: 100%;
}