/* colors = Grey #222629, #474B4F, #6B6E70, 
green #61892F #86C232 */

*{
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  background-color: #222629;
  font-family: cursive;
}

.App {
  text-align: center;

}

