@import url('https://fonts.googleapis.com/css2?family=Recursive:wght@300;400;500&display=swap');
html{
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: 'Recursive', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: 'Recursive', sans-serif;
}